@import "../layout/style/base/setting";
@import "../layout/style/base/mixin";
@import "../layout/style/base/breakpoints";
@import "./post-markdown.scss";

.auto-link {
  position: absolute;
  fill: var(--pink2);
  margin-left: -2.5 * $base-spacing-unit;
  svg {
    width: $font-xlarge;
    height: $font-xlarge;
  }
}

.post-head {
  display: flex;
  align-items: center;
  flex-direction: column;
  .post-title {
    margin-block-end: 0;
    margin-block-start: 0;
    font-size: $header-size-2;
    transition: all $transition-slower-ease;
  }

  .post-subtitle {
    margin: $spacing-small 0;
  }
}

.post-prev-next {
  display: flex;
  align-items: center;
  font-size: $font-large;
  margin: $spacing-large 0;

  .post-prev,
  .mobile-post-prev {
    margin-right: auto;
  }

  .post-next,
  .mobile-post-next {
    margin-left: auto;
  }
}
