@import "../layout/style/base/setting";
@import "../layout/style/base/mixin";
@import "../layout/style/base/breakpoints";

//gatsby-remark-autolink-headers
.auto-link {
  fill: var(--pink2);
}

.post-head {
  display: flex;
  align-items: center;
  flex-direction: column;
  .post-title {
    margin-block-end: 0;
    margin-block-start: 0;
    font-size: $header-size-1;
    transition: all $transition-slower-ease;
  }

  .post-subtitle {
    margin: $spacing-small 0;
  }
}

.post-content {
  font-size: $font-medium * 1.5;

  ol {
    counter-reset: ol-counter;
    li {
      counter-increment: ol-counter;

      p {
        display: inline-block;
      }

      &::before {
        content: counter(ol-counter) ". ";
        color: red;
        font-weight: $font-weight-bold;
      }
    }
  }

  ul {
    position: relative;
    margin-left: $base-relative-spacing-unit;

    li::before {
      content: "";
      transform: translate(-$base-relative-spacing-unit, 0);
      margin-top: $base-relative-spacing-unit / 2;
      position: absolute;
      border: $base-border * 2 solid var(--yellow1);
    }
  }

  a {
    color: var(--post-content-link);
  }

  video {
    max-width: 100%;
  }

  pre {
    overflow: auto;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th {
          text-align: left;
          padding: 10px;
          line-height: 1.429;
        }

        > td {
          padding: 10px;
          line-height: 1.429;
        }
      }
    }
  }

  table > thead > tr > th {
    border-bottom: $base-border solid var(--yellow2);
    font-weight: $font-weight-bold;
  }

  table > tbody + tbody {
    border-top: $base-border solid var(--yellow2);
  }

  table > tbody > tr > td {
    border-bottom: $base-border / 3 solid var(--yellow2);
  }
}

.post-prev-next {
  display: flex;
  align-items: center;
  font-size: $font-large;
  margin: $spacing-large 0;

  .post-prev,
  .mobile-post-prev {
    margin-right: auto;
  }

  .post-next,
  .mobile-post-next {
    margin-left: auto;
  }
}
