$site-max-width: 75rem;

$base-line-height: 1.6;
$base-border-radius: 4px;
$base-border: 3px;
$base-font-size: 16px;
$base-relative-font-size: 1rem;
$base-spacing-unit: 1rem;
$base-relative-spacing-unit: 1em;

//spacing sizes
$spacing-xxsmall: $base-spacing-unit * 0.25;
$spacing-xsmall: $base-spacing-unit * 0.5;
$spacing-small: $base-spacing-unit * 0.75;
$spacing-normal: $base-spacing-unit;
$spacing-large: $base-spacing-unit * 1.25;
$spacing-xlarge: $base-spacing-unit * 2;
$spacing-xxlarge: $base-spacing-unit * 3;

//relative spacing sizes
$relative-spacing-xsmall: $base-relative-spacing-unit * 0.5;
$relative-spacing-small: $base-relative-spacing-unit * 0.75;
$relative-spacing-normal: $base-relative-spacing-unit;
$relative-spacing-large: $base-relative-spacing-unit * 1.25;
$relative-spacing-xlarge: $base-relative-spacing-unit * 2;
$relative-spacing-xxlarge: $base-relative-spacing-unit * 3;

//font-size
$font-xsmall: $base-relative-font-size / 1.6;
$font-small: $base-relative-font-size / 1.3;
$font-medium: $base-relative-font-size;
$font-large: $base-relative-font-size * 1.75;
$font-xlarge: $base-relative-font-size * 2;
$font-xxlarge: $base-relative-font-size * 3;

//font weight
$font-weight-normal: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;

//header sizes
$header-size-1: $base-relative-font-size * 4;
$header-size-2: $base-relative-font-size * 2.5;
$header-size-3: $base-relative-font-size * 2;
$header-size-4: $base-relative-font-size * 1.4;
$header-size-5: $base-relative-font-size;
$header-size-6: $base-relative-font-size * 0.8;

// animations
$transition-time-faster: 0.25s !default;
$transition-time-fast: 0.5s !default;
$transition-time-normal: 0.75s !default;
$transition-time-slow: 1s !default;
$transition-time-slower: 2s !default;
$transition-function-ease: ease !default; //cubic-bezier(0.25, 0.1, 0.25, 1.0)
$transition-function-linear: linear !default; //cubic-bezier(0.0, 0.0, 1.0, 1.0)
$transition-function-easein: ease-in !default; //cubic-bezier(0.42, 0, 1.0, 1.0)
$transition-function-easeout: ease-out !default; //cubic-bezier(0, 0, 0.58, 1.0)
$transition-function-easeinout: ease-in-out !default; //cubic-bezier(0.42, 0, 0.58, 1.0)

//to be used like: transition: padding $transition-faster-easeout;
$transition-faster-ease: $transition-time-faster $transition-function-ease !default;
$transition-fast-ease: $transition-time-fast $transition-function-ease !default;
$transition-normal-ease: $transition-time-normal $transition-function-ease !default;
$transition-slow-ease: $transition-time-slow $transition-function-ease !default;
$transition-slower-ease: $transition-time-slower $transition-function-ease !default;

$transition-faster-linear: $transition-time-faster $transition-function-linear !default;
$transition-fast-linear: $transition-time-fast $transition-function-linear !default;
$transition-normal-linear: $transition-time-normal $transition-function-linear !default;
$transition-slow-linear: $transition-time-slow $transition-function-linear !default;
$transition-slower-linear: $transition-time-slower $transition-function-linear !default;

$transition-faster-easein: $transition-time-faster $transition-function-easein !default;
$transition-fast-easein: $transition-time-fast $transition-function-easein !default;
$transition-normal-easein: $transition-time-normal $transition-function-easein !default;
$transition-slow-easein: $transition-time-slow $transition-function-easein !default;
$transition-slower-easein: $transition-time-slower $transition-function-easein !default;

$transition-faster-easeout: $transition-time-faster $transition-function-easeout !default;
$transition-fast-easeout: $transition-time-fast $transition-function-easeout !default;
$transition-normal-easeout: $transition-time-normal $transition-function-easeout !default;
$transition-slow-easeout: $transition-time-slow $transition-function-easeout !default;
$transition-slower-easeout: $transition-time-slower $transition-function-easeout !default;

$transition-faster-easeinout: $transition-time-faster $transition-function-easeinout !default;
$transition-fast-easeinout: $transition-time-fast $transition-function-easeinout !default;
$transition-normal-easeinout: $transition-time-normal $transition-function-easeinout !default;
$transition-slow-easeinout: $transition-time-slow $transition-function-easeinout !default;
$transition-slower-easeinout: $transition-time-slower $transition-function-easeinout !default;
