@import "../../layout/style/base/setting";
@import "../../layout/style/base/breakpoints";
@import "../../layout/style/base/mixin";

$card-height: 275px;

.post-card {
  display: grid;
  margin: $spacing-normal;
  grid-template-columns: 1fr 2fr;
  grid-gap: $relative-spacing-xlarge;
  height: $card-height;
  border-radius: $base-border-radius * 4;
  box-shadow: $spacing-normal 0 $spacing-large var(--black);
  transition: all $transition-faster-easein;

  > .post-card-cover {
    border-top-left-radius: $base-border-radius * 4;
    border-bottom-left-radius: $base-border-radius * 4;
  }

  .post-card-text {
    display: flex;
    flex-direction: column;
    padding: $spacing-xsmall;

    .post-title {
      margin-block-end: 0;
      margin-block-start: 0;
      transition: all $transition-slower-ease;

      &:hover {
        background: linear-gradient(
          0.25turn,
          var(--subtle-h1-1),
          var(--subtle-h1-2),
          var(--subtle-h1-3)
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .post-subtitle {
      margin: $spacing-small 0;
    }
  }

  &:hover {
    box-shadow: $spacing-normal 0 $spacing-xxlarge var(--post-card-hover);
    transform: translate(0, -$spacing-normal);
  }

  @include media-breakpoint-down($breakpoint-sm) {
    display: flex;
    font-size: $font-medium * 1.3;
    height: $card-height - 40;
  }
}
