@import "../layout/style/base/setting";
@import "../layout/style/base/mixin";

.categories-head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $spacing-small 0;
  flex-wrap: wrap;
}
