@import "../../layout/style/base/setting";
@import "../../layout/style/base/breakpoints";
@import "../../layout/style/base/mixin";

$top-bar-height: 4.75rem;
$top-bar-responsive: $breakpoint-sm;
$top-bar-nav-svg-size: 40px;
$top-bar-logo-size: 60px;
$nav-item-width: 200px;
$z-index: 10;

@mixin logo {
  .logo {
    margin: 0 $spacing-large;
    img {
      transition: all $transition-normal-easein;
      border-radius: $base-border-radius;
      width: $top-bar-logo-size;
      height: $top-bar-logo-size;

      @include media-breakpoint-down($top-bar-responsive) {
        width: $top-bar-logo-size * 0.6;
        height: $top-bar-logo-size * 0.6;
      }
    }
  }
}

@mixin top-nav-bar {
  .top-nav-bar {
    flex: 1;

    @include media-breakpoint-down($top-bar-responsive) {
      display: block;
      overflow: auto;
      margin: 0;
      opacity: 0;
      visibility: hidden;
      transition: all $transition-normal-easeout;
      position: absolute;
      top: $top-bar-height;
      left: 0;
      background: linear-gradient(to right, var(--subtle-top1), var(--subtle-top2));
      z-index: $z-index;
      width: 100%;
      height: calc(100vh - #{$top-bar-height});

      &.open {
        opacity: 1;
        visibility: visible;
      }
    }

    > .nav-list {
      display: flex;
      > li {
        display: flex;
        justify-content: center;
        height: $top-bar-height;
        flex-basis: $nav-item-width;
        transition: all $transition-normal-easeout;
        &:hover {
          background: var(--hover-top);
          i {
            color: var(--hover-top-icon);
          }
        }

        > a {
          display: flex;
          flex: 1;
          flex-direction: column;
          align-items: center;

          &.active {
            color: var(--hover-top-icon);
          }

          > i {
            flex: 1;
            padding-top: $spacing-normal;
            transition: all $transition-faster-linear;
          }
        }
      }

      @include media-breakpoint-down($top-bar-responsive) {
        flex-direction: column;
        justify-content: center;
        > li {
          padding: $spacing-normal;
          flex-basis: $nav-item-width / 2;
          > a > i {
            flex: 0;
          }
        }
      }
    }
  }
}

@mixin theme-toggle {
  .theme-toggle {
    display: inline-block;
    position: relative;
    cursor: pointer;
    touch-action: pan-x;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0 $spacing-large;

    > .theme-toggle-track {
      width: 50px;
      height: 24px;
      border-radius: 30px;
      transition: all $transition-faster-ease;
      background-color: var(--black);

      .theme-toggle-track-icon {
        position: absolute;
        width: 17px;
        height: 17px;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        line-height: 0;
      }

      .theme-toggle-track-dark {
        @extend .theme-toggle-track-icon;
        left: 5px;
        opacity: 0;
        transition: opacity 0.5s ease;
      }

      .theme-toggle-track-light {
        @extend .theme-toggle-track-icon;
        right: 5px;
      }

      img {
        width: 16px;
        height: 16px;
        pointer-events: none;
      }
    }

    &.theme-toggle--checked {
      .theme-toggle-thumb {
        -webkit-transform: translateX(26px);
        transform: translateX(26px);
        box-shadow: 0 0 1px 2px var(--yellow1);
      }

      .theme-toggle-track-dark {
        opacity: 1;
      }

      .theme-toggle-track-light {
        opacity: 0;
      }
    }

    > .theme-toggle-thumb {
      position: absolute;
      top: 1px;
      left: 1px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: #fafafa;
      transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      transform: translateX(0);
    }

    > .theme-toggle-screenreader-only {
      height: 0;
      width: 0;
      opacity: 0;
      position: absolute;
      overflow: hidden;
    }

    &:focus {
      outline: 0;
      .theme-toggle-thumb {
        box-shadow: 0 0 2px 3px var(--pink1);
      }
    }
  }
}

.top-bar {
  background: linear-gradient(to right, var(--subtle-top1), var(--subtle-top2));
  margin-bottom: 0;
  box-shadow: 0 $spacing-xxsmall $spacing-large var(--text-color);
  z-index: $z-index;

  > .container {
    display: flex;
    height: $top-bar-height;
    align-items: center;

    @include media-breakpoint-down($top-bar-responsive) {
      justify-content: space-between;
    }

    @include logo();
    @include top-nav-bar();
    @include theme-toggle();

    .mobile-actions {
      @include media-breakpoint-up($top-bar-responsive) {
        display: none;
      }

      > .menu-button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        display: inline;
        margin: 0;
        padding: 0;
        margin-right: $spacing-large;
        transition: transform $transition-faster-easein;
        @include hoverScale(1.3);

        > i {
          color: var(--text-color);
          font-size: $base-font-size * 2;
          @include media-breakpoint-down($breakpoint-sm) {
            font-size: $base-font-size * 1.5;
          }
        }
      }
    }
  }
}
